@tailwind base;
@tailwind components;
@tailwind utilities;

.jm_container{
  width: 1280px;
  max-width: 96%;
  margin: 0 auto;
}
.jm_shadow{
  box-shadow: 0 5px 10px #1111116a;
}
.jm_input{
  @apply block rounded-lg jm_shadow border-2 border-[#FF6899] outline-0 py-3 w-full px-3
}

.jm_nav{
    @apply block lg:flex justify-between lg:col-span-3 items-center absolute lg:static lg:w-auto top-0 left-0 overflow-hidden h-screen lg:h-auto duration-500 bg-[#ff6899] lg:bg-[transparent] lg:p-0 z-50
  }

  .jm_btn{
    @apply btn hover:bg-[#C3345F] bg-[#FF6899] mt-8 block
  }
  .footer_bg{
    background: linear-gradient(rgba(255, 104, 152, 0.6),rgba(255, 104, 152, 0.6)),url("./assets/footer.jpg") bottom center no-repeat;
    background-size: cover;
  }
  .jm_tab li {
    border: none;
    color: #ff6899;
    border: 1px solid #ff6899;
    border-radius: 20px;
    @apply py-0 px-2 mx-1 my-2 sm:py-2 sm:px-5 sm:mx-2 sm:my-1
  }
  .jm_tab li.react-tabs__tab--selected {
    background: #ff6899;
    color: white;
  }
  .jm_carosel_btn{
    @apply absolute flex gap-5 right-5 top-5 md:justify-between transform md:-translate-y-1/2 md:left-5 md:right-5 md:top-1/2 
  }
